@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --bg-color-primary: #1f2937;
  --bg-color-secondary: #111827;
  --primary: #10b981;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-color-primary);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.App {
  background: var(--bg-color-secondary);
  max-width: 40rem;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 50px;
  color: white;
}

p {
  border-bottom: 2px solid var(--bg-color-primary);
  padding-bottom: 1.5rem;
}

button {
  display: inline-block;
  background: var(--primary);
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid #047857;
  border-radius: 0.5rem;
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

li {
  list-style: none;
  border: 1px solid var(--bg-color-primary);
  padding: 2rem;
  margin: 1.5rem 1rem;
  width: 80%;
  border-radius: 1.5rem;
  text-align: left;
  font-size: 1.2rem;
  box-shadow: 3px 3px var(--bg-color-primary);
}

li > small {
  font-weight: bold;
}
